doctype html
html
  head
    title WebWeek3
    meta(charset='UTF-8' name='viewport' content='width=device-width initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
